<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image.png" href="/static/img/mario01.png">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Jogo Running With Mario</title>
    </head>
    <body>
        <h1 class="text-score">Score:<span class="score"></span></h1>
        <div class="background">
            <div class="mario"></div>
        </div>
    </body>
    <script src="/static/js/script.js" charset="UTF-8" defer></script>
    <script src="/static/js/sprite.js" charset="UTF-8" defer></script>
</html>  